.portfolio__link{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    display: block;
    border-bottom: 1px solid #E8E8E8;
    text-decoration: none;
    color: #000;
    position: relative;
    padding-bottom: 19px;
    padding-top: 20px;
    margin:0;
}
@media screen and (max-width:780px){
    .portfolio__link{
        font-size: 28px;
        line-height: 28px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
}
@media screen and (max-width:450px) {
    .portfolio__link{
        font-size: 18px;
        padding-top: 0;
    }
}