.footer {
    background: #FAFAFA;
    padding: 82px 70px 20px 70px;
}

@media screen and (max-width:780px) {
    .footer {
        padding: 76px 30px 20px 30px;
    }
}

@media screen and (max-width:450px) {
    .footer {
        padding: 180px 10px 20px 10px;
    }
}