.techs__header {
    border-bottom: 1px solid #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin-top: 110px;
    padding-bottom: 23px;
    margin: 0px 70px 90px 70px;
    padding-top: 100px;
}