.about-me__photo{
    display: block;
    position: absolute;
    right: 70px;
    bottom: 100px;
    width: 270px;
    height: 327px;
    object-fit: cover;
    border-radius: 10px;
}
@media screen and (max-width:780px) {
    .about-me__photo{
        width: 255px;
        height: 307px;
        right: 47px;
        top: 207px;
    }    
}
@media screen and (max-width:730px) {
    .about-me__photo{
        width: 40%;
    }
}
@media screen and (max-width:550px) {
    .about-me__photo{
        right: 0;
        top:0;
        display: flex;
        bottom: 0;
        height: 352px;
        width: 100%;
        position: relative;
        margin-top: 60px;
    }
}
