.about-project__calendar_line_white{
    background-color: #F2F2F2;
    width:80%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:450px) {
    .about-project__calendar_line_white{
        font-size: 11px;
        line-height: 13px;
    }
}