.movies-cardlist__button-block-none {
    height: 133px;
}

@media screen and (max-width:780px) {
    .movies-cardlist__button-block-none {
        height: 101px;
    }
}

@media screen and (max-width:450px) {
    .movies-cardlist__button-block-none {
        height: 0px;
    }
}