.header__navTab-link-account{
    margin: 611px auto;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background: #F9F9F9;
    border-radius: 20px;
    padding: 8px 20px;
}
@media screen and (max-width:550px) {
    .header__navTab-link-account{
        margin: 420px auto 30px;
    }
}