.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    flex-shrink: 0;
}

.switch__checkbox {
    display: none;
}

.switch__checkbox:checked+.switch__slider {
    background: #2BE080;
    border-radius: 20px;
}

.switch__checkbox:focus+.switch__slider {
    box-shadow: 0 0 1px #2BE080;
}

.switch__checkbox:checked+.switch__slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 10%;
    bottom: 10%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}