.portfolio__link-arrow{
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;
}
@media screen and (max-width:450px) {
    .portfolio__link-arrow{
        right: 3px;
        bottom: 18px;
    }
}