.techs__lable{
    background: #E8E8E8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    WIDTH: 90px;
    height: 60px;
    margin: 0 5px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (max-width:780px) {
    .techs__lable{
        width: 85px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and (max-width:450px) {
    .techs__lable{
        margin: 0px;
    }
}