.register__button-submit-loggin {
    margin-top: 194px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 14px;
    color: #FFFFFF;
    background: #2BE080;
    border-radius: 3px;
    border: none;
    width: 100%;
}

@media screen and (max-width:550px) {
    .register__button-submit-loggin {
        margin-top: 283px;
    }
}

.register__button-submit-loggin:hover {
    color: #969696;
}