.portfolio{
    padding: 0px 70px 105px 70px;
    margin:0;
}
@media screen and (max-width:780px){
    .portfolio{
        padding: 0px 50px 74px 50px;
    }
}
@media screen and (max-width:450px) {
    .portfolio{
        padding: 0px 14px 0px 14px;
    }
}