.portfolio__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    display: block;
    border-bottom: 1px solid #E8E8E8;
    text-decoration: none;
    color: #000;
    position: relative;
    padding-bottom: 19px;
    padding-top: 20px;
    margin: 0;
    letter-spacing: -0.04em;
}

@media screen and (max-width:780px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 28px;
        padding-bottom: 29px;
        margin-top: 12px;
    }
}

@media screen and (max-width:450px) {
    .portfolio__link {
        font-size: 18px;
        padding-top: 9px;
        padding-bottom: 18px;
    }
}

.portfolio__link:hover {
    color: #908989;
}