.header__navTab-link-active{
    margin: 21px auto 0px;
    text-decoration: none;
    border-bottom: 2px solid #000;
    padding-bottom: 7px;
    color:#000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}