.error-page__link-back {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
    margin: 0px;
    text-decoration: none;
}

@media screen and (max-width:550px) {
    .error-page__link-back {
        font-size: 12px;
        line-height: 15px;
    }
}

.error-page__link-back:hover {
    color: #a3beb0;
}