.error-page__header {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    margin-top: 246px;
    margin-bottom: 5px;
}

@media screen and (max-width:780px) {
    .error-page__header {
        margin-top: 408px;
    }
}

@media screen and (max-width:550px) {
    .error-page__header {
        font-size: 80px;
        line-height: 97px;
        margin-top: 328px;
        margin-bottom: 10px;
    }
}