.header__link-no-active{
    text-decoration: none;
    margin-right: 16px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color:#000;
}