.header__button-navTab {
    display: none;
}

@media screen and (max-width:780px) {
    .header__button-navTab {
        width: 44px;
        height: 44px;
        background-image: url('/src/images/header__navtab.svg');
        display: block;
        margin: auto 0;
        border: 0;
        background-color: #fff;
        margin: 15px 0px;
    }
}

.header__button-navTab:hover {
    border: 1px solid black;
}