.about-project__calendar_header_green {
    width: 20%;
    display: flex;
    justify-content: center;
    font-family: 'Suisse Intl', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    margin: 15px 0px 0px 0px;
}

@media screen and (max-width:780px) {
    .about-project__calendar_header_green {
        width: 21%;
    }
}

@media screen and (max-width:450px) {
    .about-project__calendar_header_green {
        font-size: 11px;
        line-height: 13px;
        margin: 8px 0px 0px 0px;
        width: 44%;
    }
}