.header{
    height: 74px;
    display: flex;
    margin: 0px 70px;
}
@media screen and (max-width:780px) {
    .header{
        margin: 0 30px;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:450px) {
    .header{
        margin: 0 14px;
    }
}