.techs{
    background: #F5F5F5;
    padding: 110px 70px 100px 70px;
    margin: 0;
}
@media screen and (max-width:780px) {
    .techs{
        padding: 90px 50px 90px 50px;
    }
}
@media screen and (max-width:450px) {
    .techs{
        padding: 54px 18px 45px 18px;
        background: #fff;
    }
}